@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/layout.bundle.css")
    @Scripts.Render("~/Scripts/layout.bundle.javascript")
</head>
<body>
    <header>
    </header>
    
    <br/>
    <div>
        <span class="jobLabel">Culture: </span>
        <input id="culture" />
    </div>
    <br/>
    <script>
        (function () {
            var viewModel = layoutViewModel();
            var culture = '@Model.Culture';
            if (!culture) {
                culture = 'en-US';
            }
            kendo.culture(culture);
            $('#culture').kendoComboBox({
                change: viewModel.onCultureChange,
                dataTextField: "Value",
                dataValueField: "Key",
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "api/CultureApi/GetCultures",
                            dataType: "json",
                            type: "GET"
                        }
                    }
                },
                filter: "contains",
                suggest: true,
                value: culture
            });
            viewModel.cultureData = $('#culture').data('kendoComboBox');
        })();
    </script>

    @RenderBody()
    
    @RenderSection("scripts", required: false)
</body>
</html>
